* {
  box-sizing: inherit;
}

:root {
  --s1: 4px;
  --s2: 8px;
  --s3: 12px;
  --s4: 16px;
  --s6: 24px;
  --s8: 32px;
  --m12: 48px;
  --m16: 64px;
  --l18: 72px;
  --l24: 96px;

  --key0: hsl(0, 25%, 50%);
  --key1: hsl(30, 25%, 50%);
  --key2: hsl(60.6, 25%, 50%);
  --key3: hsl(90, 25%, 50%);
  --key4: hsl(120, 25%, 50%);
  --key5: hsl(150, 25%, 50%);
  --key6: hsl(180, 25%, 50%);
  --key7: hsl(210, 25%, 50%);
  --key8: hsl(240, 25%, 50%);
  --key9: hsl(270, 25%, 50%);
  --key10: hsl(300, 25%, 50%);
  --key11: hsl(330, 25%, 50%);

  --border: #333;
  --item-bg: #111;
  --item-text: #aaa;
  --item-title: hsl(210, 25%, 65%);
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    "Helvetica Neue", sans-serif;
  font-size: small;

  background: #222;
  color: #999;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

p + p {
  margin-top: 0.5rem;
}

/* a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 80, 160);
} */

label {
  display: block;
}

input,
button,
select,
textarea {
  padding: 0.4em;
  border: none;
  border-radius: 2px;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

.title {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: var(--spacing);
}

h1.title {
  --spacing: 2px;
}
h2.title {
  --spacing: 1.6px;
}
h3.title {
  --spacing: 1.2px;
}

.spritesheet {
  display: none;
}

.icon {
  width: 100%;
  height: 100%;
}

.feathericon {
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.app {
  display: grid;
  grid-template-rows: auto 1fr;

  height: 100vh;
}

.app__main {
  display: grid;

  overflow: hidden;
  width: 100%;
  border-top: 1px solid var(--border);
}

.content__header {
  padding: var(--s4);
}

.content__footer {
  display: flex;
  justify-content: end;
  gap: 0.5rem;

  padding: var(--s4);
  border-top: 1px solid var(--border);
}
