* {
  box-sizing: inherit;
}

:root {
  --s1: 4px;
  --s2: 8px;
  --s3: 12px;
  --s4: 16px;
  --s6: 24px;
  --s8: 32px;
  --m12: 48px;
  --m16: 64px;
  --l18: 72px;
  --l24: 96px;

  --key0: hsl(0, 25%, 50%);
  --key1: hsl(30, 25%, 50%);
  --key2: hsl(60.6, 25%, 50%);
  --key3: hsl(90, 25%, 50%);
  --key4: hsl(120, 25%, 50%);
  --key5: hsl(150, 25%, 50%);
  --key6: hsl(180, 25%, 50%);
  --key7: hsl(210, 25%, 50%);
  --key8: hsl(240, 25%, 50%);
  --key9: hsl(270, 25%, 50%);
  --key10: hsl(300, 25%, 50%);
  --key11: hsl(330, 25%, 50%);

  --border: #333;
  --app-bg: #222;
  --app-colour: #999;
  --item-bg: #111;
  --item-text: #aaa;
  --item-title: hsl(210, 25%, 65%);

  --toastContainerTop: auto;
  --toastContainerRight: auto;
  --toastContainerBottom: 0;
  --toastContainerLeft: calc(50vw - 8rem);
  --toastHeight: auto;
  --toastBackground: #000;
  --toastProgressBackground: rgba(0, 0, 0, 0);
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    "Helvetica Neue", sans-serif;
  font-size: small;

  background: var(--app-bg);
  color: var(--app-colour);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

p + p {
  margin-top: 0.5rem;
}

label {
  display: block;
}

button {
  all: unset;
  border: none;
  font: inherit;
  text-transform: inherit;
  cursor: pointer;
}

.title {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: var(--spacing);
}

h1.title {
  --spacing: 2px;
}
h2.title {
  --spacing: 1.6px;
}
h3.title {
  --spacing: 1.2px;
}

.spritesheet {
  display: none;
}

.icon {
  width: 100%;
  height: 100%;
}

.feathericon {
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
}

.grid {
  display: grid;
}

.content__header {
  padding: var(--s4);
}

.content__footer {
  padding: var(--s4);
  border-top: 1px solid var(--border);
}

._toastMsg {
  padding: 1rem !important;
}
